affine
altair==5.5.0
attrs
blinker==1.9.0
branca
Brotli
cachetools==5.5.0
certifi
cffi
charset-normalizer
click
click-plugins
cligj
contourpy
cycler
decorator==5.1.1
folium
fonttools
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopandas
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
h2
hpack
hyperframe
idna
Jinja2
joblib
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver
mapclassify
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.4
mdurl==0.1.2
munkres==1.1.4
narwhals==1.18.3
networkx
numpy
osmnx
packaging
pandas
pillow
protobuf==5.29.1
pyarrow==18.1.0
pycparser
pydeck==0.9.1
Pygments==2.18.0
pyogrio
pyparsing
pyproj
PySocks
python-dateutil
pytz
rasterio
ratelim==0.1.6
referencing==0.35.1
requests
rich==13.9.4
rio-vrt
rpds-py==0.22.3
scikit-learn
scipy
setuptools==75.6.0
shapely
six
smmap==5.0.1
snuggs
streamlit==1.41.1
tenacity==9.0.0
threadpoolctl
toml==0.10.2
tornado==6.4.2
typing_extensions==4.12.2
tzdata
urllib3
xyzservices
zstandard==0.23.0
